[2021-06-17 06:41] kickbk opened #5 "Using with a managed expo app"
Hi @geobako,
Found your library while searching for a hybrid solution that can offer the benefits of William’s library and fast-image. looks like I'm not the only one 🙂
Do you think there’s a way to make it usable in a Managed Expo project? Perhaps `expo-file-system` could be used instead of `react-native-file-access`?

[2021-06-17 07:03] geobako commented on #5
Hi @kickbk,

Unfortunately, we do not plan on supporting expo. I think the best solution would be for someone to fork it and make it expo compatible.

[2021-06-30 12:30] TildeGv9 opened #6 "Error to launch the app"
TypeError: Cannot read property 'CacheDir' of undefined, js engine: hermes ---> ANDROID
TypeError: undefined is not an object (evaluating '_reactNativeFileAccess.Dirs.CacheDir') ---> iOS Simulator

How can I fix that?

[2021-06-30 13:01] geobako commented on #6
HI @TildeGv9

Have you tried to `yarn add react-native-file-access`?

[2021-06-30 13:19] TildeGv9 commented on #6
Ok, perfect. Now I have to load an image from URI. React Native Image's component has a prop source where I can set {uri, method, headers}. I'm watching that library not support this.

[2021-06-30 13:26] geobako commented on #6
@TildeGv9 You can find all the info in the readme. The package is for remote images only and accept a source prop with the remote uri. Please read the readme with all the props

[2021-07-05 12:04] BtMwanza opened #7 "Error when caching images."
I followed the instructions to setup the caching, but when the Home screen with the images mounts, I get an error saying "RNFileAccess.fetch got 2 arguments, expected 3".  I added the config in my App.js file and the CachedImage component in the Home screen.

[2021-07-05 12:06] efstathiosntonas commented on #7
Hi @BtMwanza, please use `react-native-file-access` version `1.6.1`. We will update the package to reflect the changes made on `1.7.x` version.

[2021-07-05 13:43] BtMwanza commented on #7
It works. Thanks

[2021-07-08 08:13] rathierry commented on #6
Hi guys, @TildeGv9 / @geobako

my error are :

-  **`ERROR`**  Invariant Violation: Native module cannot be null.
-  **`ERROR`**  Error: Requiring module "node_modules/react-native-file-access/src/index.ts", which threw an exception: Invariant Violation: Native module cannot be null.

How can I fix that?

[2021-07-08 08:16] efstathiosntonas commented on #6
@rathierry

* `cd ios`
* `pod install`
* rebuild app with xcode or command line

For Android just rebuild your project after installing `react-native-file-access`

[2021-07-08 08:44] efstathiosntonas commented on #7
@BtMwanza we've updated the package to include 1.7.1, just fyi

[2021-07-08 08:44] #7 closed

[2021-07-08 08:44] #5 closed

[2021-07-08 08:45] #6 closed

[2021-07-08 15:54] rathierry commented on #6
Thank you @efstathiosntonas ,
for me, I add `pod 'react-native-file-access', :path => '../node_modules/react-native-file-access/react-native-file-access.podspec'` in `ios/`

[2021-07-08 15:56] rathierry commented on #6
@efstathiosntonas, @geobako, @TildeGv9, @giokallis,

I wanna use  **`<CachedImage>`** with children components, how do this ? It's possible ?

[2021-07-08 15:57] rathierry commented on #6
Thank you, it's done.

But I wanna use <CachedImage> with *children components*, how do I do this
? It's possible ?

Le jeu. 8 juil. 2021 à 11:45, Efstathios Ntonas ***@***.***>
a écrit :

--
-----------------------------
Thierry RAVELONJANAHARY
Ingénieur Développeur Mobile
*m:* +261341009810
*e:* ***@***.***
*s:* thierry.nakay
-----------------------------

[2021-07-08 15:58] efstathiosntonas commented on #6
@rathierry it’s not possible to use children. You could fork the repo and change it to suit your needs.

[2021-07-08 15:59] rathierry commented on #6
Ah Ok!

[2021-07-09 12:24] rathierry commented on #6
Hi @efstathiosntonas ,

I have this error on **`Android`** : `TypeError: undefined is not an object (evaluating '_reactNativeFileAccess.Dirs.CacheDir')`

How can I fix that ?

[2021-07-09 12:26] efstathiosntonas commented on #6
Clean your Android app from command line or from Android Studio and rebuild it.

[2021-07-09 13:23] rathierry commented on #6
@efstathiosntonas , FYI **it doesn't work**

@TildeGv9 , @geobako , @giokallis do you have a solution ?

[2021-07-09 13:25] efstathiosntonas commented on #6
@rathierry what react native version are you using?

`react-native-file-access` should be autolinked. If you are using < 60.0 then you must manually link it.

[2021-07-09 13:27] rathierry commented on #6
- react-native-cli: 2.0.1
- react-native: 0.64.2

[2021-07-09 13:31] efstathiosntonas commented on #6
@rathierry please stop mentioning everyone, this is not stackoverflow.

From my understanding, for some reason the `react-native-file-access` is not linked correctly on Android. We're using this module in 6 production apps and we''ve never  encountered this issue. Please check your code and make sure everything is setup correctly.

[2021-07-09 14:11] geobako commented on #6
Could you pleas share your package json?

[2021-07-09 14:15] efstathiosntonas commented on #6
@rathierry are you sure `react-native-file-access` is installed?

[2021-07-09 14:30] rathierry commented on #6
@efstathiosntonas I just installed it manually and it's ready after a "`clean Android app`" and "`re-build project`".

[2021-07-09 14:40] efstathiosntonas commented on #6
@rathierry when you say "ready" you mean it's ok now? the error is gone?

[2021-07-09 14:42] rathierry commented on #6
Yep :)

[2021-07-30 18:37] dandresfg opened #9 "Delete an entry and loaded again"
Great library, is very usefull.

I have a version of profile pictures in my db, when i change it, i delete the entries, so i go back and reload the list (a list of users) and the same file is downloaded again... Not the actual file, is just the same i deleted it.

Its always the same URL for every user, so, the version of profile pic gives me a number to storage in the app, when the number changes

[2021-07-30 18:42] efstathiosntonas commented on #9
Hi @dandresfg, this module caches the image based on filename hashing so using the same uri every time won’t work out of the box.

What you could do is to manually delete the file from cache so it will re-download it.

Example from readme: https://github.com/georstat/react-native-image-cache#remove-single-cache-entry

find a sweet spot in the app to remove the file from cache, eg after a successfu

[2021-07-30 19:00] dandresfg commented on #9
[code]

Take a look, the console.log gives me ` {"exists": false, "path": "/data/user/0/com.appmovil/cache/images/f007bdaebfd8f4e4d85ad131af20edc5b85a2183.jpg", "tmpPath": "/data/user/0/com.appmovil/cache/images/f007bdaebfd8f4e4d85ad131af20edc5b85a2183-12.jpg"}`

Cuz the **exists: false** means is deleted... When i downloaded again (try to search the same user, at this point i checked with another

[2021-08-02 08:08] efstathiosntonas commented on #9
@dandresfg this is happening on both Platforms?

[2021-08-02 17:26] dandresfg commented on #9
I figure it out the problem, but i cannot find a good solution... I'm going to make a deep explanation down below...

So, im showing an image from my user in his profile (in the same form he can edit his information)
[code]

_______
I put a setTimeout to delete the image 3 seconds after (not necessary, the backend's response it's made after the image is changed)
_______

So, after this i delete th

[2021-08-02 20:11] dandresfg commented on #9
So i worked deep in the library... I found a solution, add the version in the url like http://myurl/5.jpgversion10

and inside the app split('version')... So when the url changes i can download a new image with other source path... And it works.

[2021-08-03 08:09] efstathiosntonas commented on #9
@dandresfg glad you found a solution, I believe your use case is rare, keeping always the same file name in images is not common, the main idea behind removing a single cache entry is to clear up cache space.

I think we should investigate this further to eliminate the possibility this being a module issue.

 Can you please console.log (while using emulator, not real device) the full path of the i

[2021-08-05 04:38] #9 closed

[2021-10-26 01:53] jpouderoux opened #10 "Cache property"
Hi,

Could it be possible to add a `cache` property, similar to the one provided by the stock Image component?

In particular, I would like to be able to set the `only-if-cached` option in some cases - meaning if the image
is not in the cache then it won't try to download it. Otherwise, I could simulate it by myself but only if the
`CacheManager` would provide a method to check if a image is in th

[2021-10-29 20:06] perry-mitchell opened #11 "Loading source is not constrained to size"
I'm using this library to present website icons in my app, which work very nicely. I'm having an issue with the `loadingSource` image, however, which is _not_ constrained to the same size as the website icon. You can see that it's much larger (perhaps original size) during load:

![Kapture 2021-10-29 at 23 01 31](https://user-images.githubusercontent.com/3869469/139495344-a66df905-0e2e-4e00-89c4-d

[2021-10-29 20:27] geobako commented on #11
Hi @perry-mitchell

Could you try the loadingImageStyle prop and let us know?

[2021-10-29 20:33] perry-mitchell commented on #11
@geobako Thanks for the response! Actually I just fixed this by applying a style to the surrounding view (overflow: hidden), which has fixed it. I didn't get a chance to try `loadingImageStyle` yet, but if I remember I'll give it a go and will report back.

[2021-10-29 20:33] #11 closed

[2021-10-29 20:34] perry-mitchell commented on #11
Just want to say that this library is working amazingly well, I'm really impressed. Great job!

[2021-10-31 16:55] geobako commented on #10
You can check the new release [V1.3.0](https://github.com/georstat/react-native-image-cache/releases/tag/v1.3.0). We added the `CacheManager.isImageCached`  method.

[2021-10-31 16:55] #10 closed

[2021-11-09 16:49] kamiranoff opened #13 "Crash when using with react-native-shared-element on iOS"
First of all, thank you for creating this library.

It works very well except when I use the image as a shared element using `react-native-shared-element`

[code]

Reproducible here:
https://github.com/kamiranoff/crashOnSharedElement/tree/master

How to reproduce:
start the ios project on a simulator and press on the image

[2021-11-09 16:57] efstathiosntonas commented on #13
Hi @kamiranoff, can you please create a repo with a minimum reproducible example? Thanks!

[2021-11-09 21:23] kamiranoff commented on #13
@efstathiosntonas, sorry for the delay, I created a repository, with a reproducible example. In my use case, I use `react-native-shared-element` and `react-navigation-shared-element` so it might not be the most common use case.

Let me know if anything or if you want me to improve the minimum reproducible example.

Thank you!

[2021-11-09 21:38] geobako commented on #13
Hi @kamiranoff,

We will look into it as soon as possible

[2021-11-09 21:44] efstathiosntonas commented on #13
@geobako I think this might be a bug with `react-native-shared-elements` libs, it seems it doesn’t like the animations being used upon the `Image` component. We’re not doing something special with it, just a fade-in/fade-out animation.

[2021-11-09 21:52] geobako commented on #13
@efstathiosntonas probably. I will run some tests to find out

[2021-11-09 21:58] efstathiosntonas commented on #13
@kamiranoff @geobako

Runned the repo on real device using iOS 15, the only change i've made was:

before: <-- crashes
[code]

after: <--- no crash

[code]

so by wrapping the `CachedImage ` inside a `View` with `flex:1` as a style seems to fix the issue.

@kamiranoff can you please confirm? Thanks

[2021-11-09 22:07] geobako commented on #13
So probably an animated component as a direct child of shared element causes this

[2021-11-09 22:11] kamiranoff commented on #13
@efstathiosntonas, nice find, it does fix the crash also in the simulator, running iOS 14.5.

the transition from the shared element is lost in the process.

If I add the same style to the View and the image I do get the transition back
[code]

   But I run into this issue:
   https://github.com/wix/react-native-navigation/issues/6505

   Where the image transition is not applied correctly. But th

[2021-11-09 22:12] kamiranoff commented on #13
Sorry wrong issue.

[2021-11-09 22:20] efstathiosntonas commented on #13
@kamiranoff glad that we at least stopped it from crashing 😀, @geobako can you please investigate the broken transition issue, it seems that we have to make the `Image` a direct child (according to the linked issue above) and avoid the hack we used above.

[2021-11-16 18:43] osmanfilho opened #14 "Erro install component"
when running yarn command after installed dependency

Error: Patch file found for package react-native-img-cache which is not present at node_modules/react-native-img-cache

[2021-11-16 18:46] efstathiosntonas commented on #14
@osmanfilho Hi, we do not have such dependency on module’s `package.json` neither we’re using `patch-package`.

[2021-11-16 19:21] #14 closed

[2021-11-20 04:14] jpouderoux commented on #10
Works great, thanks a lot!

[2021-11-20 06:59] geobako commented on #13
Hi guys, sorry for the late response.

I tried some examples but it seems that this bug is not related to our package but to `react-native-shared-element` so I will close this issue for now

[2021-11-20 06:59] #13 closed

[2022-02-08 12:52] rbozan opened #15 "no way to know if an image finished loading"
no way to know if an image finished loading

in normal React Native you have `onLoad` and `onLoadEnd`, here you don't have it.

[2022-02-08 19:54] efstathiosntonas commented on #15
Hi @rbozan, can you please give us a use case about these two props? It will help us understand on how to expose them.

[2022-02-09 09:10] rbozan commented on #15
Basically we have a custom animation for the images that we'd like to keep, however because we don't know when the image has finished loading we can't start the custom animation.

[2022-02-25 12:46] josera21 opened #16 "[jest] Mock for snapshot testing"
Hi, Its a good idea to had in the doc section or README a way to mock the CachedImage and CacheManager component in order to had a success snapshot testing with jest.

It throw the error: `TypeError: Cannot read property 'blurRadius' of undefined`

Is there away to solve this ? Thanks.

[2022-02-25 12:49] efstathiosntonas commented on #16
Hi @josera21, can you send the jest test you're trying to implement? Thanks

[2022-02-25 13:03] josera21 commented on #16
Hi @efstathiosntonas  thanks for you reply.

Jest Test

[code]

CachedImage component

[code]

[2022-02-25 13:13] efstathiosntonas commented on #16
@josera21 thanks for providing more info, have you initialised config as stated here: https://github.com/georstat/react-native-image-cache#put-this-global-config-on-your-app-entry-eg-apptsx-or-indexjs-required

[code]

I'm not a jest expert and the [default config](https://github.com/georstat/react-native-image-cache/blob/main/src/defaultConfiguration.ts) (witch includes `blurRadius`) should load

[2022-02-25 13:32] josera21 commented on #16
@efstathiosntonas  yes, I have the same config on the App.js file. However, you gave to me an idea, because it is a unit test the config is not loading when it comes to render the component.

**I just added this to the test file and it work!**

[code]

[2022-02-25 13:32] #16 closed

[2022-02-25 13:36] efstathiosntonas commented on #16
@josera21 glad it worked! keep it up

[2022-03-12 12:12] geobako commented on #15
Hey @rbozan , we added onLoad and onLoadEnd props in the new version 1.4.0. I will close this issue for now but feel free to tell us if everything is working as expected

[2022-03-12 12:12] #15 closed

[2022-03-30 02:24] namnm opened #19 "Automatically cleanup old image"
Thanks for the library.

Can we have an API expose to cleanup old/unused image
For example if we set maximum storage 1GB, it will delete the old images exceed that storage.
Something like:
`removeExceedStorage('1gb')`

[2022-03-30 09:12] efstathiosntonas commented on #19
@namnm I'm implementing it now, this could have a performance impact though.

example flow:
1. Get all files from cache folder
2. Sort by last date of modification, newest first
3. Check the user setting cache limit eg `1GB` against the cache folder size
4. iterate against all files and delete the ones that are over the `1GB` threshold

I'll try to run some benchmark tests and see the outcome.

[2022-03-30 09:52] efstathiosntonas commented on #19
@namnm [react-native-file-access](https://github.com/alpha0010/react-native-file-access) does not support `lstat` (yet?), I 've contacted the author and I'm awaiting for his response.

`lstat` gets the files of the folder including all metadata eg. `size`, `lastModified` and we need them in order to sort and calculate the cached image file size.

Stay tuned and we'll implement it when @alpha0010 r

[2022-03-30 10:04] namnm commented on #19
This could be done like using sqlite, but may be too aggresive put it here.

[2022-03-30 14:52] efstathiosntonas commented on #19
@namnm we would still need to write the image on disk so we should avoid this “double” work, writing/checking sqlite tables and file system.

Solution would be to write image as base64 on sqlite but I’ve never seen such approach on caching image modules (in general, not only in react native).

[2022-03-30 15:10] namnm commented on #19
I think sqlite should only be used for storing image stats, not the image itself.
So we still save the image to disk, but then also store image stats like file size, created time...
Then we can query the images we want to delete/modify in an efficient way.

[2022-04-01 08:52] efstathiosntonas commented on #19
Hi @namnm, this feature has landed on `1.5.0`: https://github.com/georstat/react-native-image-cache/releases/tag/v1.5.0

[2022-04-01 08:52] #19 closed

[2022-04-04 07:27] efstathiosntonas opened #22 "Reanimated 2.5.0 typings and variant Violation"
This applies only for version `2.0.0` of this module.

Since `react-native-reanimated` 2.5.0 has some issues with typings, we had to use `~2.3.3` while building the module. You might get `variant Violation: Module AppRegistry is not a registered callable module` if in you're using `2.5.0` on your project.

Please use yarn `resolutions` in your `package.json` as:

[code]

This will force all module

[2022-04-05 05:48] #22 closed

[2022-04-06 11:05] likon416 opened #23 "expo failing on build react-native-file-access:compileDebugKotlin FAILED"
expo run:android is failing to build with error:

w: Detected multiple Kotlin daemon sessions at build/kotlin/sessions

is it local or eas build the same error. using expo SDK 44.0.6

[2022-04-06 11:07] efstathiosntonas commented on #23
Hi @likon416, we’ve never tested it on expo and we truly don’t know if it’s compatible. Does iOS build or you haven’t tested it?

[2022-04-06 11:08] likon416 commented on #23
Hi @efstathiosntonas thanks for the swift replay.

iOS builds fine. it's just android that is failing.

[2022-04-06 11:13] efstathiosntonas commented on #23
As far as I know `react-native-file-access` might now be compatible with expo, at least on Android.

Either open an issue on that module’s repo or create one new expo project with our module only and see if it builds.

Before doing all the above, can you run `./gradlew clean` just to be sure there are no remnants left on Android folders?

[2022-04-06 11:15] efstathiosntonas commented on #23
There are some solutions here too about this issue on react-native: https://stackoverflow.com/questions/67135414/w-detected-multiple-kotlin-daemon-sessions-at-build-kotlin-sessions

[2022-04-06 11:17] likon416 commented on #23
Thanks @efstathiosntonas

gradle clean didn't help, as the project on expo that I work on is not bare I can't use all that stuff you are normally using.
decided I will go with a different cache plugin that is compatible with expo managed workflow.

Thanks!

[2022-04-06 11:23] efstathiosntonas commented on #23
@likon416 I think you should open an issue on `react-native-file-access`, still.

@alpha0010

[2022-04-06 11:24] efstathiosntonas commented on #23
it seems `react-native-file-access` uses [kotlin `1.6.10`](https://github.com/alpha0010/react-native-file-access/blob/master/android/gradle.properties), what kotlin version expo is using?

[2022-04-06 11:27] efstathiosntonas commented on #23
can you do something like this on expo?  https://stackoverflow.com/a/71374918/2195000

sorry that i've turned the conversation into chat 😄

[2022-04-06 11:28] likon416 commented on #23
@efstathiosntonas I can't do that as I'm on a managed workflow which means you don't touch any ios or android files it's all generated, configured and managed by expo scripts.

[2022-04-06 11:30] efstathiosntonas commented on #23
oh I see, never used expo before so my knowledge is limited.

[2022-04-06 11:37] efstathiosntonas commented on #23
can you try this: `expo prebuild --clean`? I've google searched about the issue and it seems that other devs have the same issue with other libraries eg. gesture-handler but I couldn't spot a fix other than trying to clean the project, sorry.

[2022-04-06 11:42] likon416 commented on #23
that didn't help. But I moved to use expo-cached-image and that works fine.

[2022-04-06 14:04] alpha0010 commented on #23
You can select which version of Kotlin `react-native-file-access` uses by specifying in your `build.gradle`.
[code]

Should clean build after changing version numbers.

[2022-04-06 14:14] alpha0010 commented on #23
Ah, missed that.  Strange though that it appears Expo is using the same version https://github.com/expo/expo/blob/main/android/build.gradle#L11 ?

[2022-04-06 14:17] efstathiosntonas commented on #23
I have a feeling that the issue is reanimated 2.5.0 even though the error point to react-native-file-access. There’s an issue open about it: https://github.com/software-mansion/react-native-reanimated/issues/3097

I think these 2 modules in conjunction with expo don’t play well.

@likon416 can you try using v1.6.0 of this module instead of 2.0.1? That version doesn’t use reanimated 2.

[2022-04-25 09:21] martinmidtsund opened #24 "Support pre-fetching?"
Hi,

Are you planning on supporting pre-fetching of images in this library, or is this possible now in some way?

Thank you. :)

[2022-04-25 09:31] efstathiosntonas commented on #24
Hi @martinmidtsund, can you give us a small example of what you’re trying to achieve?

[2022-04-25 09:43] martinmidtsund commented on #24
@efstathiosntonas  Thanks for your quick reply!

I would like to prefetch/preload an image by URL before the screen that will show that image to the user are navigated to. Sometimes the image will not have the time to finish before navigation, but it would have a head start so the image would load even faster (or so the user would believe).

It's like the functionality already in React Native's Im

[2022-04-25 12:44] efstathiosntonas commented on #24
@martinmidtsund @geobako let’s do this, @geobako do you have an ETA?

[2022-04-25 12:49] geobako commented on #24
Hi guys, I think it will be ready in two weeks as we are on holiday right now

[2022-04-26 09:05] martinmidtsund commented on #24
Wow, great news guys, will be exciting to test! Have a good vacation :)

[2022-05-05 09:14] efstathiosntonas commented on #24
Hi @martinmidtsund, please update to `2.1.0`, we've added prefetch. More info on [README](https://github.com/georstat/react-native-image-cache/blob/main/README.md#prefetch-images-and-store-them-in-cache)

[2022-05-05 09:14] #24 closed

[2022-05-06 06:38] #23 closed

[2022-05-09 18:35] martinmidtsund commented on #24
Hi @efstathiosntonas

Cool, I'll test it as soon as I can!  🤩

[2022-05-13 07:37] putuoka opened #26 "How to implement this with ImageBackground?"
i have tried replace my imagebackground tag with this but give me an error. because i have view inside imagebackground for displaying text above image

[2022-05-13 07:49] efstathiosntonas commented on #26
Hi @putuoka, what error are you getting?

[2022-05-13 08:24] efstathiosntonas commented on #26
@putuoka this module won’t accept any chlidren so it’s normal that you get an error. Closing this since it’s not a bug.

[2022-05-13 08:24] #26 closed

[2022-05-20 15:08] scaraux opened #27 "Invariant Violation: Module AppRegistry error"
[code]

I am getting the following error while adding to my `App.tsx`

[code]

[code]

and also:

[code]

[2022-05-20 15:18] efstathiosntonas commented on #27
Hi @scaraux, have you tried this? https://github.com/georstat/react-native-image-cache/issues/22

[2022-05-22 13:06] scaraux commented on #27
@efstathiosntonas yes I have! Also reanimated merged their PR to fix that issue so I doubt its that

[2022-05-22 13:27] efstathiosntonas commented on #27
That’s weird. Can you delete your node_modules folder, yarn.lock or package-lock.json and then reinstall everything?

you should also start react native start with `—clear-cache` just to be sure.

[2022-05-22 15:11] scaraux commented on #27
Tried it all, it still fails. By the way, worth mentioned that it fails also with nothing in my `App.tsx` and just adding the image like so:

[code]

<img width="418" alt="CleanShot 2022-05-22 at 17 10 48@2x" src="https://user-images.githubusercontent.com/26309761/169702152-7e5a2f8a-e01c-419a-b505-e7c0ab625730.png">

[2022-05-22 15:19] efstathiosntonas commented on #27
Can you create a repo with a minimum reproduction and share it here to take a look?

The screenshot above indicates that the module is not installed.

[2022-05-22 15:31] scaraux commented on #27
Sure I can do that!
And yes I ran `pod install` although this lib doesn't have native code so I don't think it would do anything. Its more for the file-access lib

[2022-05-22 16:24] scaraux commented on #27
@efstathiosntonas here it is a barebone js react-native project
https://github.com/scaraux/RNIC_Issue/tree/master

[2022-05-22 16:28] efstathiosntonas commented on #27
@scaraux took a quick look at package.json and you’re missing `react-native-reanimated`. This module requires it. Are you 100% sure that you have installed it on the project that gives you issues?

[2022-05-22 16:36] scaraux commented on #27
I thought that regardless you guys import it in your package.json. Yes I am 100% sure we use it all over across the app.
I just added it to my above project for you to see, doesn't change anything.

[2022-05-22 16:43] scaraux commented on #27
Okay it seems to be working now that I added reanimated... I don't have the same version of reanimated on our project. I will investigate.

[2022-05-22 16:44] efstathiosntonas commented on #27
@scaraux glad you figured it out, closing this and thanks for your patience in this one.

[2022-05-22 16:44] #27 closed

[2022-05-22 16:47] scaraux commented on #27
Thank you for assisting me and for the fast replies. Appreciate it 👍🏻

[2022-05-22 16:53] scaraux commented on #27
@efstathiosntonas I will reply here in case people run through the same issue.

I was able to fix it on my main project by bumping reanimated to `2.4.1 -> 2.8.0`

Suggestion: It wasn't clear for me that both libs have to be installed (I thought that they would install automatically since your package requires it). You should probably add the `yarn add reanimated` & `yarn add react-native-file-acce

[2022-05-22 17:44] efstathiosntonas commented on #27
You can use whatever version of `react-native-reanimated` you want as long as it aligns with the version this module is using, in your case you had 2.4.1 while this package requires 2.6.0, this mismatch caused the issue , that’s why I’ve proposed to use resolutions https://github.com/georstat/react-native-image-cache/issues/22.

I understand that this is an aggressive approach, we will loosen the

[2022-06-14 11:34] RomanSytnyk opened #29 "Caching images with tokens in URL (Amazon S3 bucket image)"
It would be nice to have a possibility to implement custom cache key in the library.

For instance, in the case of using Amazon S3 bucket, images cannot be cached due to tokens in the URL which change with every new request.
An example of such URL:
`https://some-storage.s3.eu-west-2.amazonaws.com/uploads/image/filename/947/photo.jpg?response-content-disposition=attachment%3B%20filename%3D%22photo.

[2022-06-14 11:40] RomanSytnyk commented on #29
Hi!
I've tried to resolve this issue in the pull request.
I'll appreciate your feedback to my contribution.

Thank you

[2022-06-20 09:02] geobako commented on #29
Seems good, we will update the docs and release it shortly.

[2022-06-27 23:55] scaraux opened #31 "Failed to unlink errors"
Using the following config:

[code]

I get a ton of errors like below, and notice some stuff gets evicted when it should not (cache size way below cache limit)

[code]

[code]

When I remove the trailing `/` from the `baseDir`, it stops doing these errors. However, if I now try to do a `CacheManager.clearCache()`, it will have an invalid path. (missing trailing `/`)

Versions:
`"@georstat/react-na

[2022-06-28 01:04] scaraux commented on #31
Further debugging, there seems to be some race concurrency where multiple pruning happens at the same time and multiple files are attempted to be unlinked at the same time.

[2022-06-28 17:52] geobako commented on #31
Hi @scaraux ,

I would suggest the obvious at first: delete node modules and pods as well as all the emulator data and see if the error persists. Does it also happen in android? Does it happen with file access 2.4.0? If none of the solutions work, then we will need to debug it further.

[2022-06-28 18:39] efstathiosntonas commented on #31
@scaraux it’s not a racing condition, every time an image is downloaded we check the cache if it has hit it’s limit, I don’t think there’s a better way but of course we’re here to discuss and we’re open on PRs.

 The only race condition would be to have many images being downloaded at the same time so there would be a “first downloaded-first deleted” since that image could be the oldest one in the

[2022-06-28 23:52] scaraux commented on #31
I was mentioning the concurrency as i see that its attempting to prune multiple times the same file, and the first time is successfull and the other times cause the failed to unlink log.

Will try with 2.4.0 when I get the chance. And i don't have a small cache limit as shown above.

[2022-06-29 00:54] scaraux commented on #31
I downgraded to 2.4.0 and still getting the error. The trailing `/` on the baseDir causes all the issues. Removing it works. But if I remove it, all `CacheManager` calls that I write will now fail.

[2022-06-29 03:38] efstathiosntonas commented on #31
@scaraux if you increase the cache size to 50MB does it behave the same?

[2022-06-29 17:52] scaraux commented on #31
@efstathiosntonas yes it does

[2022-07-01 11:06] efstathiosntonas commented on #31
@scaraux tried to replicate the issue, see attached video, can you create a video like a did and try to replicate the issue?

https://youtu.be/s_zN_wlY7mI

[2022-07-01 11:38] efstathiosntonas commented on #31
@scaraux I believe what is happening in your case is:

1. Small Cache Limit to start with let's say 15MB for example
2. You try to download eg 10 images on a FlatList, the size of these images are 50MB in total (for example), each one 5MB
3. CacheManager downloads 3 images, we've reached the CacheLimit
4. While the rest of them (7 images) are being downloaded we enter in a race condition as descri

[2022-07-05 21:24] megacherry commented on #26
Hi @efstathiosntonas,

is it possible to ehance this library for this use case?

best regards

[2022-07-09 21:18] alexandreh92 opened #33 "Expose imageStyle prop"
Hi, thanks for this repo. This is an awesome contribuiton.

I'm wondering if we can expose a new prop named `imageStyle`, which will append to the existing [styles.image](https://github.com/georstat/react-native-image-cache/blob/6f90b01659713eef208ce9c0e314c6d086f84e03/src/CachedImage.tsx#L237).

With this new prop we can customize the `resizeMode`, `aspecRatio` and other `Image` specific props.

[2022-07-25 13:30] Miraj98 opened #35 "Is this different from FastImage and does this lib support Fabric?"
Just had two questions
1. Can this library act as replacement for react-native-fast-image and if there are any benchmarks available to compare the two?
2. Is this library compatible with the new Fabric renderer?

[2022-07-25 14:47] geobako commented on #35
Hello @Miraj98 ,

FastImage saves images on memory so it is quite faster. We just noticed high memory consumption when we needed images at full resolution and decided to create this library so that we save images on the file system and have a little more control over caching. So it really depends on the use case.

This library depends on reanimated and react-native-file-access so whether or not we

[2022-07-25 15:04] Miraj98 commented on #35
Oh, so react-native-image-cache does not support Fabric, got it. Reanimated supports Fabric in v3 btw.
Is there an active effort or a PR that is trying to port the library to Fabric?
I don't mind starting an issue on react-native-file-access if one is not already there that is tracking progress for Fabric.

[2022-07-26 04:14] #31 closed

[2022-07-27 14:12] Baer05 opened #36 "Style problems"
There seems to be a problem with the style: if I pass style={{ borderRadius: 20 }} nothing happens. I would expect the image to have rounded corners now. Am I right that this is currently not possible or am I doing something wrong?

[2022-07-27 18:58] efstathiosntonas commented on #36
Hi @Baer05, if you add `overflow: “hidden”` does it round the image?

[2022-07-28 05:44] Baer05 commented on #36
Hi @efstathiosntonas, thanks for the super fast response... with overflow:hidden it works as requested. Thank you for your help

[2022-07-28 05:44] #36 closed

[2022-07-28 06:01] efstathiosntonas commented on #36
You're welcome @Baer05, glad you sorted it out. The overflow thing is a quirk or react-native Image component when using radius on images, it's been around for ages 😄

[2022-07-28 06:05] efstathiosntonas commented on #35
@Miraj98 as @alpha0010 stated `react-native-file-access` will support Fabric in the future, closing this now.

[2022-07-28 06:05] #35 closed

[2022-08-03 02:36] jamesholcomb opened #38 "feature request: render children"
Hi, this is a nice lib and I'm refactoring some code to get ride of react-native-fast-image.

Similar to `<Image/>` and `<FastImage/>` could you implement child rendering?  I have a need to render a custom component within an image that is bounded by `StyleSheet.absoluteFillObject`.  For example:

[code]

[2022-08-03 05:21] efstathiosntonas commented on #38
Hi @jamesholcomb, the lib doesn’t support children. Don’t know if we will ever add this ability, it will require plenty of refactoring and breaking changes probably.

We’re always open for PR so if you got any ideas bring them in!

[2022-08-09 09:22] youniaogu opened #39 "Any way to get blob of image"
Hi, i have a question, is any way to get blob of image, i need to handle source image with canvas after fetch

Is possible implement on `CacheManager.prefetch` or some way? For example:

[code]

Thank you.

[2022-08-09 09:34] efstathiosntonas commented on #39
Hi @youniaogu sure, we'll add it.

[2022-08-09 09:37] efstathiosntonas commented on #39
@youniaogu are you using typescript or javascript in your project?

If you're using typescript, can you add this at line ~166 on `CacheManager.ts` and let me know if it's what you need:

[code]

Call it with ```
CacheManager.prefetchBlob(YOUR IMAGE URL).then((response) =>
      console.log(response)
    );
[code]

[2022-08-09 09:46] youniaogu commented on #39
thank you for quick reply, i am using typescript

it look work, i am trying

[2022-08-09 09:48] efstathiosntonas commented on #39
@youniaogu

with correct typings:

[code]

If it works, please use `patch-package` and patch it until we release a version that supports this.

[2022-08-09 10:00] youniaogu commented on #39
@efstathiosntonas It work, thank you

[2022-08-09 10:34] efstathiosntonas commented on #39
ok great, I'll release a new version in a while including this.

[2022-08-09 10:43] efstathiosntonas commented on #39
@youniaogu released [2.3.0 ](https://github.com/georstat/react-native-image-cache/releases/tag/v2.3.0)

[2022-08-09 10:43] #39 closed

[2022-08-13 22:48] DeepBlueDevOps commented on #36
Ran in to the same issue ... This worked great - thanks!

[2022-08-28 15:32] alexkendall opened #40 "error: SyntaxError: /Users/.../Projects/.../node_modules/@georstat/react-native-image-cache/src/CachedImage.tsx: Unexpected token, expected ")" (120:16)"
Getting this compilation error with the latest version.

error: SyntaxError: /Users/.../Projects/.../node_modules/@georstat/react-native-image-cache/src/CachedImage.tsx: Unexpected token, expected ")" (120:16)

[2022-08-28 16:19] efstathiosntonas commented on #40
Hi @alexkendall, there’s no “)” on [line 120](https://github.com/georstat/react-native-image-cache/blob/bee2b26784cd8aa193e6a8609192181d8af3919f/src/CachedImage.tsx#L120) that could cause syntax error.

besides that, it’s bot possible for us to ship bad syntax on npm since we build the code prior publishing.

Can you please make sure you haven’t touched anything on that file? (also check if you ha

[2022-08-29 16:34] efstathiosntonas commented on #40
@alexkendall closing the issue, if you’re still getting error let us know.

[2022-08-29 16:34] #40 closed

[2022-10-01 18:53] maxcan opened #41 "blurRadius not available for loaded images"
Great library but the way it uses `blurRadius` makes it impossible for me to use it.  I sometimes need to blur a fully loaded image.  But, `blurRadius` is "captured" here https://github.com/georstat/react-native-image-cache/blob/fe0ce4aee6b39a7e307f801b372cc711a9e3b5e0/src/CachedImage.tsx#L166 to use for thumbnail loading.  It would be great if `blurRadius` were separated into `thumbnailBlurRadius

[2022-10-01 18:57] efstathiosntonas commented on #41
Hi Max, thanks for the suggestions, we’re open to PR’s, we want to make this module to fit all possible usages and keep fellow devs happy 😃.

I believe the `blurRadius` should default to `0` and let the devs set a higher value if needed and make `thumbnailBlurRadius` `15` (as it is now). What do you think?

[2022-10-03 13:21] maxcan commented on #41
Sounds reasonable.  I have this working on a fork.  I'll submit a WIP PR so that you can see the changes and let me know anything else you'd want me to change (changelog, etc)

[2022-10-25 10:39] megacherry commented on #38
Yes, the missing feature keeps me from switching entirely from fast-image.

[2022-10-29 18:26] ScreamZ opened #43 "Expo support for expo-file-system"
Does this support expo (https://docs.expo.dev/versions/latest/sdk/filesystem/) for auto-pruning could be nice ?

I'm looking for a drop replacement for https://github.com/DylanVann/react-native-fast-image

[2022-10-29 18:33] efstathiosntonas commented on #43
@ScreamZ we must create a separate package for expo, @geobako what do you think?

In the meantime you can patch the package (with `patch-package`) and use the equivalent methods of expo’s filesystem module. Ofcourse it’s a hack but it won’t be hard to make the changes.

[2022-10-29 18:37] efstathiosntonas commented on #38
@megacherry this feature will probably add breaking changes unless we split the CachedImage component in 2 different files, one for normal usage and one for children 🤔. @geobako any thoughts?

[2022-10-29 20:10] ScreamZ commented on #43
Alright, I take notes :-) Thanks

Also found https://github.com/echowaves/expo-cached-image which look similar,

Very curious about how we could achieve same behavior without making two libraries.
 I had a similar issue on one library I made that have different implementation on browser and react native. I guess this could be nice to add some kind of abstraction and let the user choose at runtime

[2022-11-22 07:45] jeremyspritelyco opened #44 "borderRadius issue"

[2022-11-22 07:46] efstathiosntonas commented on #44
Hi @jeremyspritelyco, please look this issue for solution: https://github.com/georstat/react-native-image-cache/issues/36

[2022-11-26 04:18] #44 closed